/* Figure styling */
.svg-component {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.svg-component img {
  width: 100%;
  cursor: pointer;
}

.svg-component figcaption {
  font-size: 0.8rem;
  color: #000000;
  margin-top: 5px;
  text-align: justify;
}

/* Modal overlay */
.svg-component .modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
}

/* Modal image */
.svg-component .modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
}

/* Caption under the modal image */
.svg-component .caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #0a0a0a;
  padding: 10px 0;
}

/* Close button */
.svg-component .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #0c0c0c;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
