<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>References</title>
  <link rel="stylesheet" href="css/references_updated.css">
</head>

<body>
    <ul class="reference-list">
    <li class="reference-item" id="ref1">
        <div class="ref-number">[1]</div>
        <div class="ref-text">Kitada, T., DiAndreth, B., Teague, B., Weiss, R.: Programming gene and engineered-cell therapies with synthetic biology. Science 359(6376), eaad1067 (2018)</div>
    </li>
    <li class="reference-item" id="ref2">
        <div class="ref-number">[2]</div>
        <div class="ref-text">Zugasti, I., Espinosa-Aroca, L., Fidyt, K., Mulens-Arias, V., Diaz-Beya, M., Juan, M., Urbano-Ispizua, Á., Esteve, J., Velasco-Hernandez, T., Menéndez, P.: CAR-T cell therapy for cancer: current challenges and future directions. Signal Transduction and Targeted Therapy 10(1), 210 (2025)</div>
    </li>
    <li class="reference-item" id="ref3">
        <div class="ref-number">[3]</div>
        <div class="ref-text">Neelapu, S.S., Locke, F.L., Bartlett, N.L., Lekakis, L.J., Miklos, D.B., Jacobson, C.A., Braunschweig, I., Oluwole, O.O., Siddiqi, T., Lin, Y., <i>et al.</i>: Axicabtagene ciloleucel CAR T-cell therapy in refractory large B-cell lymphoma. New England Journal of Medicine 377(26), 2531–2544 (2017)</div>
    </li>
    <li class="reference-item" id="ref4">
        <div class="ref-number">[4]</div>
        <div class="ref-text">Schuster, S.J., Bishop, M.R., Tam, C.S., Waller, E.K., Borchmann, P., McGuirk, J.P., Jäger, U., Jaglowski, S., Andreadis, C., Westin, J.R., <i>et al.</i>: Tisagenlecleucel in adult relapsed or refractory diffuse large B-cell lymphoma. New England Journal of Medicine 380(1), 45–56 (2019)</div>
    </li>
    <li class="reference-item" id="ref5">
        <div class="ref-number">[5]</div>
        <div class="ref-text">Berdeja, J.G., Madduri, D., Usmani, S.Z., Jakubowiak, A., Agha, M., Cohen, A.D., Stewart, A.K., Hari, P., Htut, M., Lesokhin, A., <i>et al.</i>: Ciltacabtagene autoleucel, a B-cell maturation antigen-directed chimeric antigen receptor T-cell therapy in patients with relapsed or refractory multiple myeloma (CARTITUDE-1): a phase 1b/2 open-label study. The Lancet 398(10297), 314–324 (2021)</div>
    </li>
    <li class="reference-item" id="ref6">
        <div class="ref-number">[6]</div>
        <div class="ref-text">Munshi, N.C., Anderson Jr, L.D., Shah, N., Madduri, D., Berdeja, J., Lonial, S., Raje, N., Lin, Y., Siegel, D., Oriol, A., <i>et al.</i>: Idecabtagene vicleucel in relapsed and refractory multiple myeloma. New England Journal of Medicine 384(8), 705–716 (2021)</div>
    </li>
    <li class="reference-item" id="ref7">
        <div class="ref-number">[7]</div>
        <div class="ref-text">Albarránfernández, V., Angelats, L., Delgado, J., Gros, A., Urbano-Ispizua, Á., Guedan, S., Prat, A.: Unlocking the potential of engineered immune cell therapy for solid tumors. Nature Communications 16(1), 1144 (2025)</div>
    </li>
    <li class="reference-item" id="ref8">
        <div class="ref-number">[8]</div>
        <div class="ref-text">Kumar, A.R., Low, J., Lim, J., Myint, B., Sun, X., Wu, L., Cheng, H.S., Yip, S., Cheng, C.Z.M., Manoharan, T., <i>et al.</i>: Non-viral, high throughput genetic engineering of primary immune cells using nanostraw-mediated transfection. Biomaterials 317, 123079 (2025)</div>
    </li>
    <li class="reference-item" id="ref9">
        <div class="ref-number">[9]</div>
        <div class="ref-text">Chen, H.H.W., Kuo, M.T.: Improving radiotherapy in cancer treatment: Promises and challenges. Oncotarget 8(37), 62742 (2017)</div>
    </li>
    <li class="reference-item" id="ref10">
        <div class="ref-number">[10]</div>
        <div class="ref-text">Behranvand, N., Nasri, F., Zolfaghari Emameh, R., Khani, P., Hosseini, A., Garssen, J., Falak, R.: Chemotherapy: a double-edged sword in cancer treatment. Cancer Immunology, Immunotherapy 71(3), 507–526 (2022)</div>
    </li>
    <li class="reference-item" id="ref11">
        <div class="ref-number">[11]</div>
        <div class="ref-text">Tohme, S., Simmons, R.L., Tsung, A.: Surgery for cancer: a trigger for metastases. Cancer Research 77(7), 1548–1552 (2017)</div>
    </li>
    <li class="reference-item" id="ref12">
        <div class="ref-number">[12]</div>
        <div class="ref-text">Sterner, R.C., Sterner, R.M.: CAR-T cell therapy: current limitations and potential strategies. Blood Cancer Journal 11(4), 69 (2021)</div>
    </li>
    <li class="reference-item" id="ref13">
        <div class="ref-number">[13]</div>
        <div class="ref-text">Schett, G., Mackensen, A., Mougiakakos, D.: CAR T-cell therapy in autoimmune diseases. The Lancet 402(10416), 2034–2044 (2023)</div>
    </li>
    <li class="reference-item" id="ref14">
        <div class="ref-number">[14]</div>
        <div class="ref-text">Seif, M., Einsele, H., Löffler, J.: CAR T cells beyond cancer: hope for immunomodulatory therapy of infectious diseases. Frontiers in Immunology 10, 2711 (2019)</div>
    </li>
    <li class="reference-item" id="ref15">
        <div class="ref-number">[15]</div>
        <div class="ref-text">Frost &amp; Sullivan: Technological Advances in Engineered Cell Therapies, Global 2025–2029. Industry Report (2025)</div>
    </li>
    <li class="reference-item" id="ref16">
        <div class="ref-number">[16]</div>
        <div class="ref-text">Zhang, W.: CAR T-cell therapy: opportunities and challenges. Immunotherapy 8(3), 245–247 (2016)</div>
    </li>
    <li class="reference-item" id="ref17">
        <div class="ref-number">[17]</div>
        <div class="ref-text">Shah, M., Krull, A., Odonnell, L., de Lima, M.J., Bezerra, E.: Promises and challenges of a decentralized CAR T-cell manufacturing model. Frontiers in Transplantation 2, 1238535 (2023)</div>
    </li>
    <li class="reference-item" id="ref18">
        <div class="ref-number">[18]</div>
        <div class="ref-text">Melocchi, A., Schmittlein, B., Sadhu, S., Nayak, S., Lares, A., Uboldi, M., Zema, L., di Robilant, B.N., Feldman, S.A., Esensten, J.H.: Automated manufacturing of cell therapies. Journal of Controlled Release 381, 113561 (2025)</div>
    </li>
    <li class="reference-item" id="ref19">
        <div class="ref-number">[19]</div>
        <div class="ref-text">Santra, T.S., Chen, C.W., Chang, H.Y., Tseng, F.G.: Dielectric passivation layer as a substratum on localized single-cell electroporation. RSC Advances 6(13), 10979–10986 (2016)</div>
    </li>
    <li class="reference-item" id="ref20">
        <div class="ref-number">[20]</div>
        <div class="ref-text">Ossowska, A., Olive, J.M., Zieliński, A., Wojtowicz, A.: Effect of double thermal and electrochemical oxidation on titanium alloys for medical applications. Applied Surface Science 563, 150340 (2021)</div>
    </li>
    <li class="reference-item" id="ref21">
        <div class="ref-number">[21]</div>
        <div class="ref-text">Munoz-Portero, M.J., García-Antón, J., Guiñón, J.L., Leiva-García, R.: Pourbaix diagrams for titanium in concentrated aqueous lithium bromide solutions at 25 °C. Corrosion Science 53(4), 1440–1450 (2011)</div>
    </li>
    </ul>
</body>
</html>

