<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>References</title>
  <link rel="stylesheet" href="css/references_updated.css">
</head>

<body>
    <ul class="reference-list">
    <li class="reference-item" id="ref1">
        <div class="ref-number">[1]</div>
        <div class="ref-text">
            Kitada, T., DiAndreth, B., Teague, B., Weiss, R.: Programming gene and 
        engineered-cell therapies with synthetic biology. Science 359(6376), 1067 (2018)</div>
    </li>
    <li class="reference-item" id="ref2">
        <div class="ref-number">[2]</div>
        <div class="ref-text">
            Zugasti, I., Espinosa-Aroca, L., Fidyt, K., Mulens-Arias, V., Diaz-Beya, M., Juan,
            M., Urbano-Ispizua, ´ A., Esteve, J., Velasco-Hernandez, T., Men´endez, P.: Car-t cell
            therapy for cancer: current challenges and future directions. Signal Transduction
            and Targeted Therapy 10(1), 210 (2025)
        </div>
    </li>
    <li class="reference-item" id="ref3">
        <div class="ref-number">[3]</div>
        <div class="ref-text">
            Neelapu, S.S., Locke, F.L., Bartlett, N.L., Lekakis, L.J., Miklos, D.B., Jacobson,
            C.A., Braunschweig, I., Oluwole, O.O., Siddiqi, T., Lin, Y., et al.: Axicabtagene
            ciloleucel car t-cell therapy in refractory large b-cell lymphoma. New England
            Journal of Medicine 377(26), 2531–2544 (2017)
        </div>
    </li>
    <li class="reference-item" id="ref4">
        <div class="ref-number">[4]</div>
        <div class="ref-text">
            Schuster, S.J., Bishop, M.R., Tam, C.S., Waller, E.K., Borchmann, P., McGuirk,
            J.P., J¨ager, U., Jaglowski, S., Andreadis, C., Westin, J.R., et al.: Tisagenlecleucel
            in adult relapsed or refractory diffuse large b-cell lymphoma. New England Journal
            of Medicine 380(1), 45–56 (2019)
        </div>
    </li>
    <li class="reference-item" id="ref5">
        <div class="ref-number">[5]</div>
        <div class="ref-text">
            Berdeja, J.G., Madduri, D., Usmani, S.Z., Jakubowiak, A., Agha, M., Cohen, A.D.,
            Stewart, A.K., Hari, P., Htut, M., Lesokhin, A., et al.: Ciltacabtagene autoleucel,
            a b-cell maturation antigen-directed chimeric antigen receptor t-cell therapy in
            patients with relapsed or refractory multiple myeloma (cartitude-1): a phase 1b/2
            open-label study. The Lancet 398(10297), 314–324 (2021)
        </div>
    </li>
    <li class="reference-item" id="ref6">
        <div class="ref-number">[6]</div>
        <div class="ref-text">
            Munshi, N.C., Anderson Jr, L.D., Shah, N., Madduri, D., Berdeja, J., Lonial, S.,
            Raje, N., Lin, Y., Siegel, D., Oriol, A., et al.: Idecabtagene vicleucel in relapsed and
            refractory multiple myeloma. New England Journal of Medicine 384(8), 705–716
            (2021)
        </div>
    </li>
    <li class="reference-item" id="ref7">
        <div class="ref-number">[7]</div>
        <div class="ref-text">
            Albarr´an-Fern´andez, V., Angelats, L., Delgado, J., Gros, A., Urbano-Ispizua, ´ A.,
            Guedan, S., Prat, A.: Unlocking the potential of engineered immune cell therapy
            for solid tumors. nature communications 16(1), 1144 (2025)
        </div>
    </li>
    <li class="reference-item" id="ref8">
        <div class="ref-number">[8]</div>
        <div class="ref-text">
            Kumar, A.R., Low, J., Lim, J., Myint, B., Sun, X., Wu, L., Cheng, H.S., Yip, S.,
            Cheng, C.Z.M., Manoharan, T., et al.: Non-viral, high throughput genetic engineer
            ing of primary immune cells using nanostraw-mediated transfection. Biomaterials
            317, 123079 (2025)
        </div>
    </li>
    <li class="reference-item" id="refx">
        <div class="ref-number">[x]</div>
        <div class="ref-text">
            
        </div>
    </li>
    
    </ul>
</body>
</html>

